body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 1300px;
}

/* Header with main navigation */

header {
  display: flex;
  position: fixed;
  top: 0;

  border-bottom: 1px solid seashell;
  background-color: black;

  height: 69px;
  width: 100%;

  align-items: center;
  justify-content: space-between;

  z-index: 10;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding: 0 10px;
}

header li {
  display: inline-block;

  list-style: none;
  text-decoration: underline;

  padding: 10px;
}

nav a {
  color: seashell;
}

/* Main part of website */


/* Mission Section */

#mission {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 69px;

  height: 700px;
  width: 100%;

  background-image: url(../images/img-mission-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

#mission div {
  background-color: black;
  width: 1200px;
}

/* General Font style */

h2, h4 {
  margin: 0;
  padding: 10px;
}
