/* General Styling for the website */

body {
  display: block;
  width: 100%;

  margin-top: 0;

  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  text-align: center;

  background-color: black;

  opacity: 0.9;

}

/* Header with main navigation */

header {
  display: flex;
  position: fixed;
  top: 0px;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  border-bottom: 1px solid seashell;
  background-color: black;

  height: 69px;
  width: 100%;
  min-width: 700px;

  z-index: 10;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding: 0 10px;
  margin: 0;
}

header ul {
  margin: 0;
}

header li {
  display: inline-block;

  list-style: none;
  text-decoration: underline;

  padding: 0 10px;
  margin-right: 0;
}

nav a {
  color: seashell;
}

/* Main part of website */

main {
  display: block;
  padding-top: 69px;
  width: 1200px;
  margin: 0 auto;
}

/* Mission Section */

#mission {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  height: 700px;
  width: 100%;

  background-image: url(../images/img-mission-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

#mission .content {
  background-color: black;
  width: 1200px;
}

/* Featured Tea Section */

#featured-tea {
  display: block;

  width: 1000px;
  margin: 0 auto;

  padding-top: 70px;
}


.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  width: 100%;
  margin: 10px 0;
}


#featured-tea img {
  width: 300px;
  height: 200px;
}

.image-content {
  margin: 10px 15px;
}

/* Locations Section */

#locations {
  display: block;

  width: 100%;
  height: 500px;
  margin: 70px auto 0 auto;

  padding-top: 70px;

  background-image: url(../images/img-locations-background.jpg);
  background-position: top;
  background-repeat: no-repeat;
}

#locations .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.store {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  width: 300px;

  margin: 15px 20px;

  background-color: black;
  opacity: 1;
}

/* Contact Section */

#contact {
  display: block;
  height: 200px;
}


/* Footer Section */

footer {
  display: block;
  width: 100%;

  margin: 0;
  padding: 0px 20px;

  text-align: left;
}

/* Specific Font styles */

h2, h4 {
  margin: 0;
  padding: 10px;
}

h3 {
  margin: 0;
  padding: 15px;
}

h5 {
  margin: 30px 0;
}
